.Cabecalho-moda {
    background-color: blueviolet;
    color: white;
}

.produtos {
    background-color: #424250;
    color: white;
    }

.cabecalho-casa {
    background-color: #00C4B4;
    color: white;
}